html,
body,
form,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
ul,
ol,
li,
dt,
dd,
figure {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
}

body {
  color: #333;
  font: 14px/1.5 "Microsoft YaHei", Arial;
}

ul,
ol {
  list-style-type: none;
}

em,
i,
var {
  font-style: normal;
}

a {
  text-decoration: none;
  color: #333;
  margin: 0;
  padding: 0;
}

a img {
  border: 0 none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

figure,
figcaption {
  display: block;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
  visibility: hidden;
}

textarea {
  border: none;
  outline: none;
}

input {
  border: none;
  outline: none;
}

html,
body {
  position: relative;
  height: 100%;
}

.view-content {
  width: 100%;
  padding: 20px 20px 20px 220px;
  box-sizing: border-box;
}

.headers {
  position: relative;
  height: 60px;
  padding: 0 20px 0 30px;
  background-color: #2bb598;
  overflow: hidden;
}

.headers .header-left {
  display: inline-block;
  width: 300px;
  height: 28px;
  line-height: 28px;
  padding: 17px 0;
}

.headers .header-left a {
  display: inline-block;
  width: 110px;
  height: 28px;
  margin-right: 14px;
}

.headers .header-left a img {
  width: 100%;
}

.headers .header-left span {
  color: #fff;
  font-size: 14px;
  line-height: 28px;
  display: inline-block;
}

.headers .header-right {
  float: right;
  height: 60px;
  line-height: 60px;
  color: #fff;
}

.headers .header-right a {
  display: inline-block;
  line-height: 60px;
  color: #fff;
  font-size: 14px;
}

.nav-view {
  float: left;
  width: 200px;
  height: calc(100vh - 60px);
  background-color: #282b33;
  overflow: hidden;
  clear: both;
}

.nav-view:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
}

.nav-view li {
  height: 45px;
}

.nav-view li.selected,
.nav-view li:hover {
  background-color: #3f3f3f;
}

.nav-view li.selected a i.nav1,
.nav-view li:hover a i.nav1 {
  background-position: 0 0;
}

.nav-view li.selected a i.nav2,
.nav-view li:hover a i.nav2 {
  background-position: 0 -42px;
}

.nav-view li.selected a i.nav3,
.nav-view li:hover a i.nav3 {
  background-position: 0 -88px;
}

.nav-view li a {
  display: block;
  height: 24px;
  padding: 10px 0 11px 30px;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
}

.nav-view li a i {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('../img/tabs.png');
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 12px;
}

.nav-view li a i.nav1 {
  background-position: -77px 0;
}

.nav-view li a i.nav2 {
  background-position: -77px -42px;
}

.nav-view li a i.nav3 {
  background-position: -77px -88px;
}

.view-content > h4 {
  border-bottom: 1px solid #e6e6e6;
  font-size: 14px;
  color: #333;
  height: 32px;
}

.view-content > h4 a {
  font-size: 14px;
  color: #4d9def;
}

.view-content .new-form {
  padding-top: 20px;
}

.view-content .new-form li {
  position: relative;
  padding-left: 84px;
  min-height: 46px;
  margin-bottom: 20px;
}

.view-content .new-form li.upimg-file label {
  position: relative;
}

.view-content .new-form li.upimg-file label input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
}

.view-content .new-form li.upimg-file label span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 44px;
  text-align: center;
  background-color: #f0f0f0;
  color: #666;
  font-size: 14px;
}

.view-content .new-form li.intro label {
  height: 165px;
  padding-top: 12px;
  box-sizing: border-box;
  position: relative;
}

.view-content .new-form li.intro label var {
  position: absolute;
  right: 10px;
  bottom: 2px;
  font-size: 14px;
  color: #999;
}

.view-content .new-form li.submit-view button {
  width: 140px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  border: none;
  background: #2bb598;
  margin-left: 10px;
}

.view-content .new-form li em {
  position: absolute;
  left: 0;
  top: 0;
  width: 84px;
  height: 46px;
  line-height: 46px;
  text-align: right;
  font-size: 14px;
  color: #333;
}

.view-content .new-form li .up-success {
  display: inline-block;
  width: 180px;
  height: 100px;
  margin-left: 10px;
  position: relative;
  line-height: 100px;
}

.view-content .new-form li .up-success .up-again {
  position: absolute;
  right: -80px;
  top: 45px;
  color: #2e7ecd;
  font-size: 14px;
  width: 60px;
  height: 16px;
  line-height: 16px;
  cursor: pointer;
}

.view-content .new-form li .up-success .up-again input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 16px;
  z-index: 10px;
  opacity: 0;
  cursor: pointer;
}

.view-content .new-form li .up-success figure {
  width: 180px;
  height: 100px;
  overflow: hidden;
}

.view-content .new-form li .up-success figure img {
  vertical-align: top;
  width: 100%;
}

.view-content .new-form li label {
  display: inline-block;
  margin-left: 10px;
  height: 46px;
  width: 184px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  padding: 0 20px;
  overflow: hidden;
}

.view-content .new-form li label textarea {
  width: 100%;
  height: 125px;
  resize: none;
  font-size: 14px;
  color: #333;
  line-height: 16px;
}

.view-content .new-form li label input {
  display: block;
  width: 100%;
  height: 42px;
  line-height: 42px;
  font-size: 14px;
  color: #333;
  border: none;
}

.view-content .new-form li label select {
  width: 100%;
  height: 42px;
  line-height: 42px;
  font-size: 14px;
  color: #333;
  border: none;
  background: transparent;
  outline: none;
}

.view-content .new-form li .error-text {
  vertical-align: top;
  display: inline-block;
  padding-left: 20px;
  height: 46px;
  line-height: 46px;
  font-size: 14px;
  color: #ff3333;
}

.view-content .new-form li .timer {
  display: inline-block;
  height: 46px;
  line-height: 46px;
  font-size: 14px;
  color: #333;
  vertical-align: top;
}

.view-content .new-form li .timer label {
  vertical-align: top;
}

.view-content .new-form li .timer label:first-child {
  margin-right: 10px;
}

.view-content .new-form li .changed {
  display: inline-block;
  margin-left: 20px;
  font-size: 12px;
  line-height: 46px;
}

.view-content .new-form li .changed:before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #e6e6e6;
  margin-right: 5px;
  vertical-align: middle;
}

.view-content .new-form li .your-type {
  float: left;
  height: 46px;
  width: 50px;
  line-height: 46px;
  font-size: 14px;
  color: #333;
  position: relative;
  padding-left: 20px;
  margin-left: 10px;
}

.view-content .new-form li .your-type.selected i:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 6px;
  height: 6px;
  margin: -3px 0 0 -3px;
  border-radius: 50%;
  background-color: #2bb598;
}

.view-content .new-form li .your-type span {
  display: inline-block;
  cursor: pointer;
}

.view-content .new-form li .your-type i {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
}

.view-content .new-form li .select-list {
  position: relative;
  width: 340px;
  z-index: 10;
}

.view-content .new-form li .select-list span {
  display: inline-block;
  margin-left: 10px;
  height: 46px;
  width: 340px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  padding: 0 20px;
  overflow: hidden;
  line-height: 46px;
  color: #999;
  position: relative;
}

.view-content .new-form li .select-list span:after {
  content: "";
  position: absolute;
  right: 15px;
  top: 20px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top: 7px solid #333;
}

.view-content .new-form li .select-list .firms {
  position: absolute;
  left: 10px;
  top: 46px;
  max-height: 315px;
  overflow: auto;
  width: 100%;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
}

.view-content .new-form li .select-list .firms ul {
  padding: 0 20px;
}

.view-content .new-form li .select-list .firms ul li {
  border-bottom: 1px solid #e6e6e6;
  text-align: left;
  margin-bottom: 0;
  height: 40px;
  box-sizing: border-box;
  line-height: 40px;
  padding-left: 0;
}

.view-content .new-form li.describe label {
  height: 165px;
  padding-top: 12px;
  box-sizing: border-box;
  position: relative;
}